
BindableDemo/BindableDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
BindableDemo/BindableDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
BindableDemo/BindableDemo.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
BindableDemo/BindableDemo.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BindableDemo/BindableDemo.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
BindableDemo/BindableDemo/GoogleService-Info.plist
